@media screen and (min-width:481px){
    .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "main"
        "footer";
    }
    
    body, ul, li, a {
        margin:0vw;
        padding:0vw;
        list-style: none;
        text-decoration: none;
        font-size: 1.2rem;
        font-family: Arial, Helvetica, sans-serif;
        display: inline-block;
        color: #cdcdcd
    }   
    
    /*-----------------------------------header--------------------------*/
    
    header {
        grid-area: header;
        background: black;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 1vw;
    }
    
    
    /*------------------------------------main--------------------------*/
    
    main {
        grid-area: main;
    }
    
    /*------------------------------------footer--------------------------*/
    
    footer {
        grid-area: footer;
        background: black;
        color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 1vw;
    }
}

@media screen and (min-width:320px) and (max-width:480px){
    
}