body, ul, li, p {
    margin:0px;
    padding:0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: arial;
    display: inline-block;
}   

/*-----------------------------------header--------------------------*/

header {
    background: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.menu {
    width: 40px;
    height: 40px;
    border: solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*menu*/

button {
    background: transparent;
    border: none;
}



/*------------------------------------main--------------------------*/



/*------------------------------------footer--------------------------*/

footer {
    background: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}